body{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    background-color: rgb(116, 116, 116);
}
#map{
    display: block;
    margin: auto;
    border: solid 2px white;
}

#properties{
    border: solid 1px;
    border-radius: 5px;
    padding: 5px;
    margin: 10px auto;
    width: 40%;
}

#properties > p {
    text-decoration: underline;
    font-weight: bold;
}

.inputs{
    margin: 5px auto;
    display: flex;
    justify-content: center;
    gap:10px;
    align-items: center;
}

/* classe des éléments */
.base{
    fill: lightblue;
}

.arbre{
    fill:green;
}

.feu{
    fill:red;
}

.cendres{
    fill: darkgray;
}

.inconnu{
    filter: brightness(0.4);
}

.drone {
    fill: white
}

